html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#body-wrapper {
    background: linear-gradient(#981f1f, #000000);
    width: auto;
    height: 100%;    
}

#target-1 {
    position: relative;
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    top: 50px;
    left: 50px;
    transition: left .5s ease-in, top .5s ease-in;
}